.galleryx-container {
    margin: 5px 0;
}

.galleryx-flexbox {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: flex-start;
}

.galleryx-grid {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(var(--columns, 3), 1fr);
}

.galleryx-item {
    position: relative;
    overflow: hidden;
}

.galleryx-flexbox .galleryx-item {
    margin-bottom: 5px;
    height: var(--flexbox-height, auto);
}

.galleryx-item img,
.galleryx-item video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.galleryx-single-wrapper {
    margin: 5px 0;
}

.galleryx-single-item img,
.galleryx-single-item video {
    max-width: 100%;
    height: auto;
    display: block;
}